body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #aaa;
}

#mazeApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
}

#mazeCanvas {
  border: 1px solid black;
}
