/* .App {
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* max-width: 950px; */
}

.App-nav {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.App-nav li {
  padding: 5px; 
}

.App-nav li a {
  color: #61dafb;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.App-nav li a:hover {
  background-color: #61dafb;
  color: #282c34;
}
.nav-links, .auth-links {
  display: flex;
}

.network-error {
  color: red;
  border: 1px solid #d83e3e;
  background-color: #a4274f3c;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  max-width: max-content;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
}

.gallery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width:fit-content;
}

.login-button {
  width: 100%;
  padding: 15px;
  background-color: #0296c0;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
  border-width: 0;
  color: #fff;
}

.signup-button {
  width: fit-content;
  padding: 15px;
  background-color: #0aad07;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 0;
  color: #fff;
}
