/* .App {
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.App-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.App-nav li a {
  color: #61dafb;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.App-nav li a:hover {
  background-color: #61dafb;
  color: #282c34;
}

.network-error {
  color: red;
  border: 1px solid #d83e3e;
  background-color: #a4274f3c;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  max-width: max-content;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  /* white-space: nowrap; */
}
